In [7]:
from DbConnector import DbConnector
from tabulate import tabulate

In [8]:
connection = DbConnector()
cursor = connection.cursor
db_connection = connection.db_connection

Connected to: 8.1.0
You are connected to the database: ('mysql',)
-----------------------------------------------

In [9]:
query = """CREATE TABLE IF NOT EXISTS %s (
            id INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
            name VARCHAR(30))
        """
cursor.execute(query % "Person")
db_connection.commit()

AttributeError: 'DbConnector' object has no attribute 'commit'

In [4]:
cursor.execute("SHOW TABLES")
rows = cursor.fetchall()
print(tabulate(rows, headers=cursor.column_names))

Tables_in_mysql
----------------------------------------------------
columns_priv
component
db
default_roles
engine_cost
func
general_log
global_grants
gtid_executed
help_category
help_keyword
help_relation
help_topic
innodb_index_stats
innodb_table_stats
ndb_binlog_index
password_history
plugin
procs_priv
proxies_priv
replication_asynchronous_connection_failover
replication_asynchronous_connection_failover_managed
replication_group_configuration_version
replication_group_member_actions
role_edges
server_cost
servers
slave_master_info
slave_relay_log_info
slave_worker_info
slow_log
tables_priv
time_zone
time_zone_leap_second
time_zone_name
time_zone_transition
time_zone_transition_type
user

In [ ]:
query = "DROP TABLE %s"
cursor.execute(query % "Person")

In [10]:
connection.close_connection()

-----------------------------------------------
Connection to 8.1.0 is closed